.unitsinfo
{
    border: 2px solid black;
    width:1100px;
    margin-left: 30px;
}
.unitsinformation
{
    border: 1px solid black;
    height: 55px;
}
.untisdata
{
    margin-left: 70px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
   
}
.untisdata:hover
{
    color:red;
}
.diamondimage
{
    width:25px;
    height:25px;
    position: absolute;
    left: 340px;
    margin-top: 15px;
}
.downarrowbox
{
    width: 20px;
    height: 20px;
    border: 1px solid black;
    margin-top: -45px;
    margin-left: 1050px;
}
.downarrowimg
{
    width:20px;
    height: 20px;
}